---
layout: foam
---

{{ content }}

<a href="#" id="light-mode" class="light-mode" style="display: inline">💡</a>
<script>
  let lightBtn = document.getElementById("light-mode");
  lightBtn.addEventListener("click", toggleLightMode)
  function toggleLightMode() {
    let style = document.body.style;
    if (style.backgroundColor && style.backgroundColor !== "rgb(255, 255, 255)") {
      style.backgroundColor = "rgb(255, 255, 255)";
      style.color = "rgb(48, 48, 48)";
    } else if (style.backgroundColor !== "rgb(48, 48, 48)") {
      style.backgroundColor = "rgb(48, 48, 48)";
      style.color = "rgb(255, 255, 255)";
    }
  }
</script>
<!-- Adds the back to top link to your website -->
<a href="#" id="back-to-top" class="back-to-top" style="display: inline">🏡</a>

<!-- Fades in the button when you scroll down -->
<script>
  var link = document.getElementById("back-to-top");
  var amountScrolled = 250;

  window.addEventListener("scroll", function (e) {
    if (window.pageYOffset > amountScrolled) {
      link.classList.add("show");
    } else {
      link.className = "back-to-top";
    }
  });

  link.addEventListener("click", function (e) {
    e.preventDefault();
    document.body.scrollTop = 0; // For Safari
    document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
  });
</script>

<script>
  MathJax = {
    loader: { load: ["[tex]/ams"] },
    tex: {
      inlineMath: [
        ["$", "$"],
        ["\\(", "\\)"],
      ],
      packages: { "[+]": ["ams"] },
    },
  };
</script>
<script
  id="MathJax-script"
  async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"
></script>
